In [27]:
#install panda sql to simulate dbms
# !pip install pandasql
import pandas as pd
from pandasql import sqldf
pd.set_option('display.max_rows', None)

1. Read recently created csv files extracted from json & perfrom data exploration

In [28]:
df = pd.read_csv("taxi.csv", sep=",")
df.head()
df.info()
# Rename the columns for easy querying
df.rename(columns={"geometry.type":"geometry_type",
                   "geometry.coordinates":"coordinates",
                   "properties.timestamp":"timestamp",
                   "properties.taxi_count":"taxi_count",
                   "properties.api_info.status":"status"},
          inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   type                        289 non-null    object
 1   geometry.type               289 non-null    object
 2   geometry.coordinates        289 non-null    object
 3   properties.timestamp        289 non-null    object
 4   properties.taxi_count       289 non-null    int64
 5   properties.api_info.status  289 non-null    object
 6   time                        289 non-null    object
dtypes: int64(1), object(6)
memory usage: 15.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           289 non-null    object
 1   geometry_type  289 non-null    object
 2   coordinates    289 non-null    object
 3   timestamp      289 non-null    object
 4   taxi_count     289 non-null    int64
 5   status         289 non-null    object
 6   time           289 non-null    object
dtypes: int64(1), object(6)
memory usage: 15.9+ KB

2. Query data from dataframe

In [31]:
# setup our query to view our data
select_query = 'SELECT * FROM df LIMIT 10'
df_select = sqldf(select_query)
display(df_select)

      type geometry_type  ...   status                 time
0  Feature    MultiPoint  ...  healthy  2023-01-01 00:00:00
1  Feature    MultiPoint  ...  healthy  2023-01-01 00:05:00
2  Feature    MultiPoint  ...  healthy  2023-01-01 00:10:00
3  Feature    MultiPoint  ...  healthy  2023-01-01 00:15:00
4  Feature    MultiPoint  ...  healthy  2023-01-01 00:20:00
5  Feature    MultiPoint  ...  healthy  2023-01-01 00:25:00
6  Feature    MultiPoint  ...  healthy  2023-01-01 00:30:00
7  Feature    MultiPoint  ...  healthy  2023-01-01 00:35:00
8  Feature    MultiPoint  ...  healthy  2023-01-01 00:40:00
9  Feature    MultiPoint  ...  healthy  2023-01-01 00:45:00

[10 rows x 7 columns]

3. Select top 10 highest population

In [32]:
select_top_ten = 'SELECT * FROM df ORDER BY taxi_count DESC LIMIT 10'
df_top_ten = sqldf(select_top_ten)
display(df_top_ten)

      type geometry_type  ...   status                 time
0  Feature    MultiPoint  ...  healthy  2023-01-01 00:00:00
1  Feature    MultiPoint  ...  healthy  2023-01-01 00:15:00
2  Feature    MultiPoint  ...  healthy  2023-01-01 00:20:00
3  Feature    MultiPoint  ...  healthy  2023-01-01 00:25:00
4  Feature    MultiPoint  ...  healthy  2023-01-01 00:30:00
5  Feature    MultiPoint  ...  healthy  2023-01-01 00:05:00
6  Feature    MultiPoint  ...  healthy  2023-01-01 02:40:00
7  Feature    MultiPoint  ...  healthy  2023-01-01 02:30:00
8  Feature    MultiPoint  ...  healthy  2023-01-01 02:35:00
9  Feature    MultiPoint  ...  healthy  2023-01-01 05:15:00

[10 rows x 7 columns]

4. Select Top 10 areas of lowest taxi population

In [33]:
select_top_ten_low = 'SELECT * FROM df ORDER BY taxi_count asc LIMIT 10'
df_ten_lowest = sqldf(select_top_ten_low)
display(df_ten_lowest)

      type geometry_type  ...   status                 time
0  Feature    MultiPoint  ...  healthy  2023-01-01 03:25:00
1  Feature    MultiPoint  ...  healthy  2023-01-01 03:15:00
2  Feature    MultiPoint  ...  healthy  2023-01-01 01:25:00
3  Feature    MultiPoint  ...  healthy  2023-01-01 06:25:00
4  Feature    MultiPoint  ...  healthy  2023-01-01 07:30:00
5  Feature    MultiPoint  ...  healthy  2023-01-01 07:35:00
6  Feature    MultiPoint  ...  healthy  2023-01-01 04:30:00
7  Feature    MultiPoint  ...  healthy  2023-01-01 00:10:00
8  Feature    MultiPoint  ...  healthy  2023-01-01 01:05:00
9  Feature    MultiPoint  ...  healthy  2023-01-01 01:35:00

[10 rows x 7 columns]

5. Hourly Taxi avialability

In [34]:
# time format is by hourly therefore %h is used
time_format = "'%h'"
select_hour = f"SELECT * FROM df GROUP BY strftime ({time_format},timestamp)"
#print(select_hour)
df_hour = sqldf(select_hour)
display(df_hour)

      type geometry_type  ...   status                 time
0  Feature    MultiPoint  ...  healthy  2023-01-01 00:00:00

[1 rows x 7 columns]